body{background-color:#F1B3FF;}

h1{color: #D7F281;
	font-family: Papyrus;
	font-size: 50px;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
	padding: 15px;
	border: 10px solid transparent;
	border-color: #9B81F2;
	background-color: #FEEDAE;
  	text-shadow: 4px 4px;
  }
h2{color:#FEEDAE;
font-family: Papyrus;
font-size: 30px;
text-align: left;
text-shadow: 3px 0px;
 }

img{display: block;
	margin:auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 400px;}


img:hover{
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p{
	color:#FEEDAE;
	font-family:Papyrus;
	font-size: 23px;

}

a {text-decoration: none;
	font-size: 24px;
}

ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #FEEDAE;
	}
	ul li {
		float: left;
		padding: 10px;
	}

	li:hover {
	background-color: black;  }

